html,body,.footer{
    width: 100%;
    padding: 0;
    margin:0; 
    }

/*DESATIVAR PARA DESKTOP*/
 #nav-icone-menu,.fundo-clase,.fundo-menu,.fundo-lupa,#input-lupa,#listamob,#fechar-busca,.fundo-menu,.caminho-mobile,.fundo-carrinhomob,.clique-carromob,#carrinho-fecharmob{
    display: none;
}


/*****************************************GERAL********************************************************
**************************************************************************************************
**************************************************************************************************/


/*CONFIGURAÇÕES DO CORPO E GERAL*/
body{
    padding: 0;
    margin:0; 
    overflow-x: hidden;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
a{
    color: white;
    text-decoration: none;
}
header{
    z-index:1 ;

}
main{
    z-index: 0;
    width: 100%;
}


/*****************************************CABEÇALHO********************************************************
**************************************************************************************************
**************************************************************************************************/


/*CABEÇALHO*/
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #0c212d;
    color: white;
    transform: translateY(-100px);
}
/*logotipo*/
#logo{
    height: 65px;
    width: 76px;
}
/*navegador*/
nav{
    display: flex;
}
/* configuração do texto do navegador*/
#texto-nav{
    margin-left:70px;
    cursor: pointer;
}
#texto-nav:hover{
    background-color: #02141c;
    padding: 10px;
}

/*FRASE PENSADOR*/


/*ATIVAÇÃO DAS NAVEGAÇÕES*/






/*Lupa*/

#listamob{
    display: none;
}
.fundo{
    display: flex;
    justify-content:space-around;
    align-items: normal;
    position: relative;
    height:45px;
    width:350px;
    overflow: hidden;
    color:white;
    transition: .2s;
    background-color: #02141c;
    padding: 5px;
    transform: translateY(2px);
}
.fundo:hover{
    background-color: #02141c;
    border:1px solid rgba(255, 255, 255, 0.392);
    color: white;
}
/*ativação da lupa*/
.fundo.abrir{
    display: flex;
    justify-content:space-around;
    align-items: normal;
    height: 400px;
    transform:translateY(180px) ;
}
/* Configuração da lista de pesquisa*/
.lupa-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #0c212d;
    transform: translateY(20px) translateX(-30px);
    border: 2px solid black;
    width: 280px;
}
.dados-lupa{
    margin: 7px;
    padding:10px;
    list-style:none;
    transform: translateX(-20px);
    border-bottom: 2px solid #00000069;
    cursor: pointer;
    color: white;

}
.dados-lupa:hover{
    background-color: #ff9b00;
    padding:10px;
}
.lupa {
    font-size: 30px;
    padding:10px;
    cursor: pointer;
    transform: translateX(5px) translateY(-8px);
}
#input-pesquisa{

    transform: translateY(-10px) translateX(10px);
    font-size: 22px;
    color: white;
}
.fechar{
    font-size: 30px;
    transform: translateX(-70px) translateY(10px);
    cursor: pointer;
 
}
.pesquisa , input{
    background-color: transparent;
    border:0;
    outline: 0;
    font-size: 17px;
    color:white;

}
.pesquisa{
    transform: translateY(20px);
    height: 30px;
}





/*Carrinho de Compras*/

.fundo-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85px;
    height: 55px;
    padding: 15px;
    overflow:hidden;
    transition: .2s; 
}
#nav-carrinho{
    height: 45px;
    width: 40px;
    color: white;
    transition: .2s;
    cursor: pointer;
    padding: 2px;
    transform: translateY(8px);
}



/*CATEGORIA PRODUTO*/
.produto-categoria{
    text-align: center;
    width: 100%;
    transform: translateY(70px);
    margin-top: 100px;
    
}
#linha{
    width: 50%;
}

/* FUNDO PRODUTOS */
.fundo-produtos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding:40px;
    transform: translateY(50px);
    z-index: 2;
}
.bloco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:240px;
    height:445px;
    border: 1px solid #00000059;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius:20px; 
    padding:14px;
    margin:25px;  
    z-index: 3;
}
.img-fundo{
    width: 200px;
    height: 210px;
    padding: 4px;
    border:2px solid #00000069; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
#titulo-produto{
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 50px;
    font-weight: normal;
    padding: 8px;
}
#desconto-produto{
    transform: translateY(-35px) translateX(-32px);
    font-size: 16px;
    width: 80px;
}
#preço-produto{
    font-size: 25px;
    font-weight: bold;
    color:#0794d3;
    transform: translateY(-40px);
}
#carrinho-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10px);
font-size: 17px;
color: white;
}
#botao-compra{
    width:190px;
    height:40px;
    background-color: #0794d3;
    font-size: 19px;
    border:2px solid #0794d3;
    border-right:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-40px);
    padding: 10px;

   
}
#botao-compra:hover{
    background-color:#0c212d;
}

#botao-carrinho{
    width:190px;
    height:40px;
    background-color: #0c212d;
    border:2px solid #0c212d;
    cursor: pointer;
    transform: translateY(-40px) ;
    margin-top: 5px;
}
#botao-carrinho:hover{
    background-color: #02141c;
    border:2px solid #0794d3; 
}

/*VEJA MAIS*/
.vejamais{
    display: flex;
    justify-content: center;
    position: relative;
    background-color:#0794d3;
    width: 10%;
    transform: translateY(20px);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.vejamais:hover{
    background-color: #0c212d;
}





















/*****************************************FINAL********************************************************
**************************************************************************************************
**************************************************************************************************/

/*FINAL*/
footer{
    transform: translateY(200px);
    background-color: #02141c;
    width: 100%;
    height: 680px;
    color: white;
    font-size: 18px;
}

/*Redes Sociais*/
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color:#0c212d;
}
.imagem-redes{
    height: 50px;
    width: 210px;
}
.logo-redes{
    margin-top: 9px;
    padding: 2px;
    height: 40px;
    width: 40px;
}

/*Dados Empresariais*/
.fundo-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 110%;
    transform: translateY(40px) 
}
.infor-final{

    width: 30%;
    height: 100px;
    padding: 10px;
    margin: 60px;
    text-align: left;
    
}
.mod-final{
    transform: translateY(80px);
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: 60px;
    text-align: center;
  
}

