html,body,.footer{
    width: 100%;
    padding: 0;
    margin:0; 
    }

/*DESATIVAR PARA DESKTOP*/
 #nav-icone-menu,.fundo-clase,.fundo-menu,.fundo-lupa,#input-lupa,#listamob,#fechar-busca,.fundo-menu,.caminho-mobile,.fundo-carrinhomob,.clique-carromob,#carrinho-fecharmob{
    display: none;
}


/*****************************************GERAL********************************************************
**************************************************************************************************
**************************************************************************************************/


/*CONFIGURAÇÕES DO CORPO E GERAL*/
body{
    padding: 0;
    margin:0; 
    overflow-x: hidden;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
a{
    color: white;
    text-decoration: none;
}
header{
    z-index:1 ;
}
main{
    z-index: 0;
    width: 100%;
}


/*****************************************CABEÇALHO********************************************************
**************************************************************************************************
**************************************************************************************************/


/*CABEÇALHO*/
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #0c212d;
    color: white;
}
/*logotipo*/
#logo{
    height: 65px;
    width: 76px;
}
/*navegador*/
nav{
    display: flex;
}
/* configuração do texto do navegador*/
#texto-nav{
    margin-left:70px;
    cursor: pointer;
}
#texto-nav:hover{
    background-color: #02141c;
    padding: 10px;
}

/*FRASE PENSADOR*/


/*ATIVAÇÃO DAS NAVEGAÇÕES*/






/*Lupa*/

#listamob{
    display: none;
}
.fundo{
    display: flex;
    justify-content:space-around;
    align-items: normal;
    position: relative;
    height:45px;
    width:350px;
    overflow: hidden;
    color:white;
    transition: .2s;
    background-color: #02141c;
    padding: 5px;
    transform: translateY(2px);
}
.fundo:hover{
    background-color: #02141c;
    border:1px solid rgba(255, 255, 255, 0.392);
    color: white;
}
/*ativação da lupa*/
.fundo.abrir{
    display: flex;
    justify-content:space-around;
    align-items: normal;
    height: 400px;
    transform:translateY(180px) ;
}
/* Configuração da lista de pesquisa*/
.lupa-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #0c212d;
    transform: translateY(20px) translateX(-30px);
    border: 2px solid black;
    width: 280px;
}
.dados-lupa{
    margin: 7px;
    padding:10px;
    list-style:none;
    transform: translateX(-20px);
    border-bottom: 2px solid #00000069;
    cursor: pointer;
    color: white;

}
.dados-lupa:hover{
    background-color: #ff9b00;
    padding:10px;
}
.lupa {
    font-size: 30px;
    padding:10px;
    cursor: pointer;
    transform: translateX(5px) translateY(-8px);
}
#input-pesquisa{

    transform: translateY(-10px) translateX(10px);
    font-size: 22px;
    color: white;
}
.fechar{
    font-size: 30px;
    transform: translateX(-70px) translateY(10px);
    cursor: pointer;
 
}
.pesquisa , input{
    background-color: transparent;
    border:0;
    outline: 0;
    font-size: 17px;
    color:white;

}
.pesquisa{
    transform: translateY(20px);
    height: 30px;
}





/*Carrinho de Compras*/

.fundo-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85px;
    height: 55px;
    padding: 15px;
    overflow:hidden;
    transition: .2s; 
}
#nav-carrinho{
    height: 45px;
    width: 40px;
    color: white;
    transition: .2s;
    cursor: pointer;
    padding: 2px;
    transform: translateY(8px);
}



/*****************************************CORPO********************************************************
**************************************************************************************************
**************************************************************************************************/
.produto-detalhes{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    transform: translateY(100px) translateX(80px);

}
.produto-imagem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 40%;
    padding: 10px;
    border-bottom: 1px solid #00000069;
    border-right: 1px solid #00000069;
}
.imagem-produto{
    width: 300px;
    height: 400px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #00000069;

}
.titulo-produto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:50%;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid #00000069;
    font-size: 30px;
}
.preço-produto{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-between;
    margin-left:556px;
    margin-top: -370px;
    flex-direction: column;
    width:50%;
    height: 155px;
    padding: 20px;
    border-bottom: 1px solid #00000069; 
}
.detalhe-produto{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-evenly   ;
    align-items: center;
    margin-left:-20px;
    margin-top: 181px;
    width:55%;
    height: 168px;
    border-bottom: 1px solid #00000069;
    position: absolute;
}

#produto-infor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 15%;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    cursor: auto;
    font-weight: bold;
}
#produto-infor:hover{
    transform: scale(1.2) ;
    color: #0794d3;
    font-weight: normal;
    width: 20%;
 
}

.descriçao-produto{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
    padding: 12px;
    border-bottom: 1px solid #00000069;
}










.detalhe1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 20px;
}
.produto-marca{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    font-size: 18px;
    margin-top: 15px;
    margin-left: -25px;
}
.produto-seguro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-left: -20px;
}
#cadeado{
    font-size: 30px;
    color: #0794d3;
  }
.detalhe2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 150px;
    margin-top: -0px;
    font-size: 26px;
    padding: 10px;
    font-weight: bold;

}
.produto-comprar{
    margin-top: 60px;
    background-color: #0794d3;
    width: 80%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: white;
    margin-top: 18px;
    cursor: pointer;
    font-size:18px;

}
.produto-comprar:hover{
    background-color:#0c212d;
    color: white;
    font-weight: bold;
}
.product-price{
font-size: 28px;
margin-left: 40px;
margin-top: 20px;
}
.forma-pagamento{
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -80px;
    padding: 5px;
}





/*****************************************FINAL********************************************************
**************************************************************************************************
**************************************************************************************************/

/*FINAL*/
footer{
    transform: translateY(700px);
    background-color: #02141c;
    width: 100%;
    height: 680px;
    color: white;
    font-size: 18px;
}

/*Redes Sociais*/
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color:#0c212d;
}
.imagem-redes{
    height: 50px;
    width: 210px;
}
.logo-redes{
    margin-top: 9px;
    padding: 2px;
    height: 40px;
    width: 40px;
}

/*Dados Empresariais*/
.fundo-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 110%;
    transform: translateY(40px) 
}
.infor-final{

    width: 30%;
    height: 100px;
    padding: 10px;
    margin: 60px;
    text-align: left;
    
}
.mod-final{
    transform: translateY(80px);
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: 60px;
    text-align: center;
  
}
























  .folder-produto{
    display: none;
  }
  .ativar-folder-produto{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: white;
      height: 800px;
      width: 80%;
      transform: translateY(-100px);
      transition: 2s;
      position: absolute;
      border-radius:40px;
      box-shadow: 4px 45px 45px 4px;
      transition: .5s;
      z-index: 6;
      padding: 20px;
  }


  .folder-produtodois{
    display: none;
  }
  .ativar-folder-produtodois{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: white;
      height: 800px;
      width: 80%;
      transform: translateY(-100px);
      transition: 2s;
      position: absolute;
      border-radius:40px;
      box-shadow: 4px 45px 45px 4px;
      transition: .5s;
      z-index: 6;
      padding: 20px;
  }
  .fechar-unicoprodois{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 8px;
    transform: translateY(-30px) ;
    margin: 20px;
    height: 90px;
    color: black;
    cursor: pointer;
    transition: 1s;
  }
  .fechar-unicoprodois:hover{
    color: #fbb03b;
  }

  .folder-produtotres{
    display: none;
  }
  .ativar-folder-produtotres{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: white;
      height: 800px;
      width: 80%;
      transform: translateY(-100px);
      transition: 2s;
      position: absolute;
      border-radius:40px;
      box-shadow: 4px 45px 45px 4px;
      transition: .5s;
      z-index: 6;
      padding: 20px;
  }
  .fechar-unicoprotres{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 8px;
    transform: translateY(-30px) ;
    margin: 20px;
    height: 90px;
    color: black;
    cursor: pointer;
    transition: 1s;
  }
  .fechar-unicoprotres:hover{
    color: #fbb03b;
  }

 













  .fechar-unicopro{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 8px;
    transform: translateY(-30px) ;
    margin: 20px;
    height: 90px;
    color: black;
    cursor: pointer;
    transition: 1s;
  }
  .fechar-unicopro:hover{
    color: #fbb03b;
  }
  #sair-unico-fechar{
    font-size: 30px;
    padding: 2px;
    width: 100%;

  }
  
  .fundo-direito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 500px;
    padding: 10px;
    border-bottom: 1px solid #00000069;
    border-right: 1px solid #00000069;
  }
  #img-produtosunico{
    height: 350px;
    margin-top:20px;
  }


  .fundoblocounico{
    display: flex;
    margin-top: 20px;
    width: 80%;

  }
  #blocoimgunico{
    height: 80px;
    width: 80px;
    margin-left:30px; 
    border: 3px solid #00000069;
    cursor: pointer;
  }
  #blocoimgunico:hover{
    transform: scale(0.9);
  }

  .fundo-textounico{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:50%;
    padding: 10px;
    height: 120px;
    border-bottom: 1px solid #00000069;

  }
  #titulo-unico{
    font-size: 30px;
    margin-left: 20px;
  }



  .fundo-preçounico{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    margin-left:476px;
    margin-top: -400px;
    flex-direction: row;
    width:50%;
    height: 180px;
    padding: 20px;
    border-bottom: 1px solid #00000069;
  }
  #autor-unico{
    font-size: 22px;
    transform: translateY(30px);
  }
  #entrega-unico{
    transform: translateY(40px);
  }
  #preço-unico{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    transform: translateX(300px) translateY(-110px);
    font-size: 32px;
    font-weight: bold;
    color: #0794d3;
  }
  #botao-unico{
    transform: translateX(360px) translateY(-120px);
    font-size: 20px;
    padding: 15px;
    width: 90%;
    cursor: pointer;
    border: 2px solid #00000069;
    background-color: #0794d3;
    color: white;
    font-weight: bold;
    transition: 1s;
  }
  #botao-unico:hover{
    background-color: #fbb03b;
    color: black;
  }

  

  .fundo-detalheunico{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    margin-left:476px;
    margin-top: -191px;
    flex-direction:column;
    width:50%;
    height: 150px;
    padding: 20px;
    border-bottom: 1px solid #00000069;
  }
  .detalhes-unico,.detalhes-dois,.detalhes-tres,.detalhes-quatro{
    display:flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  .detalhe-um,.detalhe-dois,.detalhe-tres,.detalhe-quatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    cursor: pointer;
  }
  .detalhe-um:hover,
  .detalhe-dois:hover,
  .detalhe-tres:hover,
  .detalhe-quatro:hover{
    transform: scale(1.2);
    color: #0794d3;
  }
  
  #icone-unico-detalhe{
    font-size: 40px;
  }


  .fundo-texto-detalhe{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    width:100%;
    transform: translateY(0px);
    padding: 20px;
    border-top: 1px solid #00000069;
  }
.mais-produtos{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    transform: translateY(100px) translateX(80px);
}
#texto-mais{
    font-size: 27px;
    font-weight: bold;
    margin-left: 20px;
}


